configuration {
    modi: "run";
    font: "IBMPlexMono 12";
    cycle: true;
    sort: true;
    matching: "fuzzy";
    scroll-method: 1;
    timeout {
	action: "kb-cancel";
	delay:  0;
     }
    filebrowser {
	 directories-first: true;
	 sorting-method:    "name";
     }
}

@import "colors.rasi"
