SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", \
	RUN+="/home/zijian/.scripts/polybar/poly-bat --update"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", \
	RUN+="/home/zijian/.scripts/polybar/poly-bat --update"
