autostart
BraveSoftware
dconf
discord
htop
ibus
nnn
obs-studio
pulse
QtProject.conf
VirtualBox
GIMP
Microsoft*
teams
syncthing
libreoffice
pavucontrol.ini
vlc
gh
rmapi
procps
java
QtProject
GNS3
wireshark
uGet
neofetch
droidcam
s-tui
fontforge
cppman
chromium
Code - OSS
Bitwarden CLI
torbrowser
rmview.json
matplotlib
cat_installer
user-dirs.dirs
user-dirs.locale
jupyter
ipython
ros.org
Kitware
jxbrowser
spicy
SEGGER
fcitx
transmission-daemon
asciinema
Electron
zotify
wakatime
Google
settings
tool_state
.android
menus
Microsoft
Microsoft Teams - Preview
calibre
Logic
go
MuseScore
Raspberry Pi
opencode
systemd
configstore
teams-for-linux
