autostart
BraveSoftware
calibre
dconf
discord
Electron
flameshot
htop
ibus
nnn
nordvpn
obs-studio
pulse
QtProject.conf
qBittorrent/**/*
!qBittorrent/*.qbtheme
Slack
s-tui
VirtualBox
zoomus.conf
bottom
GIMP
Microsoft*
teams
syncthing
obsidian
libreoffice
pavucontrol.ini
vlc
gh
weechat
configstore
NuGet
csharp.history
rmapi
procps
mpv
cppman
java
whoozle.github.io
systemd
