systemd
neofetch
autostart
bpytop
BraveSoftware
calibre
dconf
discord
Electron
flameshot
htop
ibus
Mailspring
nnn
nordvpn
obs-studio
procps
pulse
qBittorrent
QtProject.conf
Slack
s-tui
user-dirs.locale
VirtualBox
zoomus.conf
bottom
